.orido_tm_modalbox{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100vh;
	z-index: 20;
	background-color: rgba(0,0,0,.9);
	opacity: 0;
	visibility: hidden;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.orido_tm_modalbox.opened{
	opacity: 1;
	visibility: visible;
}
.orido_tm_modalbox .box_inner{
	position: absolute;
	top: 70px;
	bottom: 70px;
	width: 968px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	margin-top: -20px;
	transition-delay: .3s;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.orido_tm_modalbox.opened .box_inner{
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
}
.orido_tm_modalbox .close{
	position: fixed;
	left: 100%;
	top: 0px;
	margin-left: 30px;
	z-index: 10;
}
.orido_tm_modalbox .close a{
	display: block;
	width: 40px;
	height: 40px;
	text-decoration: none;
	color: #fff;
	border:2px solid #fff;
	border-radius: 10px;
	position: relative;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.orido_tm_modalbox .close a:hover{
	border-radius: 100%;
}
.orido_tm_modalbox .close a i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.orido_tm_modalbox .description_wrap{
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	padding: 50px;
	overflow-y: scroll;
}
.orido_tm_modalbox .description_wrap:before{
	position: fixed;
	content: "";
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	background-color: #fff;
	z-index: 2;
}
.orido_tm_modalbox .description_wrap:after{
	position: fixed;
	content: "";
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	background-color: #fff;
	z-index: 2;
}
.orido_tm_modalbox .description_wrap::-webkit-scrollbar{
 	width: 11px;
}
.orido_tm_modalbox .description_wrap{
  scrollbar-width: thin;
  scrollbar-color: #999 #fff;
}
.orido_tm_modalbox .description_wrap:-webkit-scrollbar-track{
  background: #fff;
}
.orido_tm_modalbox .description_wrap::-webkit-scrollbar-thumb{
  background-color: #999;
  border-radius: 10px;
  border: 3px solid #fff;
}
.orido_tm_service .popup_service_image{
	opacity: 0;
	visibility: hidden;
	display: none;
	position: absolute;
	z-index: -111;
}
.orido_tm_service .service_hidden_details{
	opacity: 0;
	visibility: hidden;
	display: none;
	position: absolute;
	z-index: -111;
}
.orido_tm_modalbox .service_popup_informations{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.orido_tm_modalbox .service_popup_informations .image{
	width: 100%;
	float: left;
	position: relative;
	margin-bottom: 33px;
}
.orido_tm_modalbox .service_popup_informations .image img{
	position: relative;
	min-width: 100%;
	opacity: 0;
}
.orido_tm_modalbox .service_popup_informations .image .main{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 12px;
}
.orido_tm_modalbox .service_popup_informations .main_title{
	width: 100%;
	float: left;
	margin-bottom: 25px;
}
.orido_tm_modalbox .service_popup_informations .main_title h3{
	font-size: 30px;
}
.orido_tm_modalbox .service_popup_informations .descriptions{
	width: 100%;
	float: left;
}
.orido_tm_modalbox .service_popup_informations .descriptions p{
	margin-bottom: 15px;
}
.orido_tm_modalbox .service_popup_informations .descriptions p:last-child{
	margin-bottom: 0px;
}
.orido_tm_portfolio .hidden_content{
	display: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	z-index: -11;
}
.orido_tm_modalbox .popup_details{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.orido_tm_modalbox .popup_details .top_image{
	position: relative;
	overflow: hidden;
	margin-bottom: 33px;
}
.orido_tm_modalbox .popup_details .top_image img{
	position: relative;
	min-width: 100%;
	opacity: 0;
}
.orido_tm_modalbox .popup_details .top_image .main{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 12px;
}
.orido_tm_modalbox .portfolio_main_title{
	width: 100%;
	float: left;
	margin-bottom: 25px;
}
.orido_tm_modalbox .portfolio_main_title span{
	display: inline-block;
	font-family: var(--font-family-extra);
}
.orido_tm_modalbox .portfolio_main_title span a{
	text-decoration: none;
	color: #6f6b80;
}
.orido_tm_modalbox .portfolio_main_title h3{
    font-size: 30px;
}
.orido_tm_modalbox .main_details{
	width: 100%;
	height: auto;
	clear: both;
	display: flex;
	margin-bottom: 60px;
}
.orido_tm_modalbox .main_details .textbox{
	width: 70%;
	padding-right: 40px;
}
.orido_tm_modalbox .main_details .textbox p{
	margin-bottom: 15px;
}
.orido_tm_modalbox .main_details .textbox p:last-child{
	margin-bottom: 0px;
}
.orido_tm_modalbox .main_details .detailbox{
	width: 30%;
	padding-left: 40px;
}
.orido_tm_modalbox .main_details .detailbox > ul{
	margin: 0px;
	list-style-type: none;
}
.orido_tm_modalbox .main_details .detailbox > ul > li{
	margin: 0px 0px 10px 0px;
	width: 100%;
	float: left;
}
.orido_tm_modalbox .main_details .detailbox > ul > li:last-child{
	margin-bottom: 0px;
}
.orido_tm_modalbox .main_details .detailbox .first{
    font-weight: 500;
	font-size: 18px;
	display: block;
	color: #000;
	font-family: var(--font-family-extra);
}
.orido_tm_modalbox .main_details .detailbox span{
	font-family: var(--font-family-extra);
}
.orido_tm_modalbox .main_details .detailbox span a{
	text-decoration: none;
	color: #7d7789;
}
.orido_tm_modalbox .additional_images{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.orido_tm_modalbox .additional_images ul{
	margin: 0px 0px 0px -30px;
	list-style-type: none;
}
.orido_tm_modalbox .additional_images ul li{
	margin: 0px 0px 30px 0px;
	float: left;
	width: 50%;
	padding-left: 30px;
}
.orido_tm_modalbox .additional_images ul li:nth-child(3n-2){
	width: 100%;
}
.orido_tm_modalbox .additional_images ul li .list_inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
}
.orido_tm_modalbox .additional_images ul li .my_image{
	position: relative;
}
.orido_tm_modalbox .additional_images ul li .my_image img{
	opacity: 0;
	min-width: 100%;
}
.orido_tm_modalbox .additional_images ul li .my_image .main{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 12px;
}
.orido_tm_news .news_hidden_details{
	display: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	z-index: -11;
}
.orido_tm_modalbox .news_popup_informations{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.orido_tm_modalbox .news_popup_informations .image{
	position: relative;
	margin-bottom: 32px;
}
.orido_tm_modalbox .news_popup_informations .image img{
	position: relative;
	opacity: 0;
	min-width: 100%;
}
.orido_tm_modalbox .news_popup_informations .image .main{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 12px;
}
.orido_tm_modalbox .news_popup_informations .text{
	width: 100%;
	float: left;
}
.orido_tm_modalbox .news_popup_informations .text p{
	margin-bottom: 15px;
}
.orido_tm_modalbox .news_popup_informations .text p:last-child{
	margin-bottom: 0px;
}
.orido_tm_modalbox .metabox{
	width: 100%;
	float: left;
	margin-bottom: 7px;
}
.orido_tm_modalbox .metabox ul{
	margin: 0px;
	list-style-type: none;
}
.orido_tm_modalbox .metabox ul li{
	margin: 0px 15px 0px 0px;
	display: inline-block;
}
.orido_tm_modalbox .metabox ul li:last-child{
	margin-right: 0px;
}
.orido_tm_modalbox .metabox span{
	font-size: 16px;
	position: relative;
	padding-left: 10px;
}
.orido_tm_modalbox .metabox span:before{
	position: absolute;
	content: "";
	width: 6px;
	height: 6px;
	border-radius: 100%;
	background-color: #F26440;
	top: 50%;
	transform: translateY(-50%);
	left: 0px;
}
.orido_tm_modalbox .metabox a{
	color: var(--main-color);
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.orido_tm_modalbox .metabox a:hover{
	color: #F26440;
}
.orido_tm_modalbox .news_popup_informations .title h3{
	font-size: 30px;
	margin-bottom: 25px;
}

/*---------------------------------------------------*/
/*	17) ORIDO MEDIA QUERIES (FOR SMALL DEVIVES)
/*---------------------------------------------------*/

@media (max-width: 1600px) {
	.orido_tm_modalbox .box_inner{top: 50px;bottom: 50px;width: 800px;}
	.orido_tm_modalbox .close{margin-left:20px;}
	.orido_tm_modalbox .description_wrap{padding: 40px;}
	.orido_tm_modalbox .description_wrap:before{height: 40px;}
	.orido_tm_modalbox .description_wrap:after{height: 40px;}
}
@media(max-width:1200px){
	.orido_tm_modalbox .box_inner{width: 500px;top: 70px;bottom: 70px;}
	.orido_tm_modalbox .description_wrap{padding: 35px;}
	.orido_tm_modalbox .portfolio_main_title{margin-bottom: 10px;}
	.orido_tm_modalbox .portfolio_main_title h3{font-size: 22px;margin-bottom: 8px;}
	.orido_tm_modalbox .main_details{flex-direction: column;}
	.orido_tm_modalbox .main_details .textbox{width: 100%;padding-right: 0px;margin-bottom: 40px;}
	.orido_tm_modalbox .main_details .detailbox{padding-left: 0px;width: 100%;}
	.orido_tm_modalbox .additional_images ul{margin: 0px;}
	.orido_tm_modalbox .additional_images ul li{width: 100% !important;padding-left: 0px;}
	.orido_tm_modalbox .description_wrap:before{height: 35px;}
	.orido_tm_modalbox .description_wrap:after{height: 35px;}
	.orido_tm_modalbox .service_popup_informations .main_title h3{font-size: 22px;}
	.orido_tm_modalbox .news_popup_informations .details h3{font-size: 22px;margin-bottom: 8px;}
	.orido_tm_modalbox .news_popup_informations .image{margin-bottom: 27px;}
	.orido_tm_modalbox .news_popup_informations .details{margin-bottom: 15px;}
}
@media (max-width: 1040px) {
	.orido_tm_modalbox .popup_details .top_image{margin-bottom: 27px;}
	.orido_tm_modalbox .service_popup_informations .image{margin-bottom: 27px;}
	.orido_tm_modalbox .service_popup_informations .main_title{margin-bottom: 13px;}
}
@media (max-width: 768px) {
	.orido_tm_modalbox .box_inner{width: 300px;}
	.orido_tm_modalbox .close{left: auto;right: 0;margin-left: 0;top: -40px;}
	.orido_tm_modalbox .close a{width: 30px;height: 30px;}
	.orido_tm_modalbox .description_wrap{padding: 20px;}
	.orido_tm_modalbox .description_wrap:before{height: 20px;}
	.orido_tm_modalbox .description_wrap:after{height: 20px;}
}